# Specific files and directories for Node.js API
/node_modules
npm-debug.log
.env

# Specific files and directories for React.js frontend project
/frontend/node_modules
/frontend/build
/frontend/.env

# Local configuration files (depending on your tools)
.eslintcache
.prettiercache

# Logs and temporary files
*.log
*.swp
