/* Base styles */
:root {
  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 40px;
  --color-shadow-light: rgba(0, 0, 0, 0.1);
  --color-shadow-dark: rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: var(--spacing-large);
}

input[type="text"] {
  padding: var(--spacing-small);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  width: 100%; /* Takes the full width of its container */
  max-width: 600px; /* Maximum width to ensure it doesn't look too wide on large screens */
  margin-bottom: var(--spacing-medium);
  transition: border-color 0.2s;

  &:focus {
    outline: none;
    border-color: #007BFF;
  }
}

div {
  margin-bottom: var(--spacing-large);
}

button {
  padding: var(--spacing-small) var(--spacing-medium);
  border: none;
  border-radius: 8px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 0 var(--spacing-small);

  &:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: #0056b3;
  }
}

span {
  margin: 0 var(--spacing-medium);
}

/* Color-coded messages */
.error {
  color: #D0021B; /* Bright red for error */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(208, 2, 27, 0.1);
  border-radius: 4px;
  background-color: #FDECEA; /* Light background for error */
}

.success {
  color: #417505; /* Green for success */
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgba(65, 117, 5, 0.1);
  border-radius: 4px;
  background-color: #E6F4E1; /* Light background for success */
}
